/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';


.container-wrapper{
    height: calc(100vh-80px) !important;
}

body{
     color: $secondary;
    // overflow-y: hidden; 
}

button{
    width: 100%;
    &.btn{
    border-radius: 0;
    &.focus{
        box-shadow: none;
     }
    }
}
.navbar{
    height: 80px;
}